@model IEnumerable<OutbornE_commerce.BAL.Dto.Products.GetAllProductForUserDto>

@{
	ViewData["Title"] = "Index";
}

<body>
	<h1 class="text-center">Products</h1>
	<p>
		<a asp-action="Create" class="btn btn-primary">Create New Product</a>
	</p>
	<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" asp-controller="Categ" asp-action="Index" method="get">
		<div class="input-group" style="width: 500px; margin-bottom: 100px; padding:20px;">
			<input class="form-control" type="text" name="SearchString" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
			<button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
		</div>
	</form>
	<table class="table table-striped table-bordered" style="padding:20px">
		<thead class="thead-dark">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.NameEn)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.NameAr)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Price)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DiscountPrice)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.MainImageUrl)
				</th>
			
				<th>Edit</th>
				<th>Details</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.NameEn)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.NameAr)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Price)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DiscountPrice)
					</td>
					<td style="text-align: center; vertical-align: middle;">
						@if (!string.IsNullOrEmpty(item.MainImageUrl))
						{
							<img src="@item.MainImageUrl" alt="Image" style="max-width: 100px; max-height: 100px; display: block; margin: 0 auto;" />
						}
						else
						{
							<span>No image available</span>
						}
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
					</td>
					<td>
						<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
					</td>
					<td>
						<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
					</td>

				</tr>
			}
		</tbody>
	</table>

	<!-- Bootstrap JavaScript (Optional if you need JS features) -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

